<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApSocial.DAO.Properties.Settings.AplicacionSocialConnectionString"
            connectionString="Data Source=utnmdpdb.mssql.somee.com;Initial Catalog=utnmdpdb;Persist Security Info=False;User ID=GasparMDQ_SQLLogin_1;Password=8wggnj7byo;Packet Size=4096;Workstation ID=utnmdpdb.mssql.somee.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>