<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApSocial.DAO.Properties.Settings.AplicacionSocialConnectionString"
            connectionString="Data Source=LAB6-08\SQLEXPRESS;Initial Catalog=AplicacionSocial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>